/* HTML Elements */

body {
    font-family: 'Inconsolata', monospace;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

button {
    padding: 3%;
    outline: none;
    border: none;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.75;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=text] {
    padding: 2%;
    border: solid 1px #c5c5c5;
    border-radius: 5px;
}

p {
    margin: 1em;
}


/* Custom IDs */

#form {
    border-bottom: 1px solid #373737;
    padding-bottom: 8%;
}

#history {
    margin-top: 2em;
}


/* Custom Classes */

.submit {
    background-color: #5ba1e9;
    color: white;
}

.banner {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: white;
    background-image: linear-gradient(to right, rgba(59, 109, 299), rgba(36, 4, 85));
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.historyItem {
    padding: 2%;
    background-color: gainsboro;
    margin: 1px;
    border-radius: 5px;
}

.historyBtn {
    width: 100%;
    margin-bottom: 3%;
    background-color: #b7b7b7;
    font-size: 1em;
}

.daily {
    width: 105%;
    height: 23%;
    padding: 5%;
    padding-bottom: 7%;
    padding-top: 1%;
    border: 1px solid black;
}

.day {
    font-size: 1.5em;
    font-weight: 600;
}

.dayForecast {
    margin-top: 1%;
}

.weekForecast {
    margin: 3%;
    margin-left: 15%;
    display: flex;
    justify-content: space-around;
}

.forecastItem {
    margin-bottom: 3%;
}

.search {
    width: 20vw;
    padding: 3%;
    padding-top: 0;
}

.delete {
    background-color: crimson;
    float: right;
}

.icon {
    width: 33%;
}

.weeklyForecastDay {
    background-color: #33475a;
    padding: 3%;
    color: white;
    font-weight: 500;
    width: 20%;
    margin-left: 5%;
}

.uvi,
.inline {
    display: inline;
    margin-right: 0;
}

#uvIndex {
    margin: 0;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-bottom: .25%;
    padding-top: .25%;
    border-radius: 5px;
    display: inline;
}


/* Media Queries  */

@media screen and (min-width: 900px) {
    .search {
        width: 20vw;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 900px) {
    .search {
        width: 70vw;
        display: flex;
        justify-content: space-around;
    }
    .day {
        margin: 0 auto;
    }
}