/* HTML Elements */

body {
    font-family: 'Inconsolata', monospace;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

button {
    padding: 3%;
    outline: none;
    border: none;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    opacity: 0.75;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table {
    border-collapse: separate;
    border-spacing: 1em 1em;
}

td {
    vertical-align: top;
    padding: 2em;
    border-radius: 5px;
}


/* Custom IDs */

#form {
    border-bottom: 1px solid black;
    padding-bottom: 5%;
}

#results {
    margin-left: 15%;
}

#history {
    margin-top: 2em;
}


/* Custom Classes */

.submit {
    background-color: green;
    color: white;
}

.banner {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: brown;
    background-color: lightblue;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}